.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  width: 85%;
  height: 250px;
  background-color: #d4d4d4;
  border: #a9a9a9 solid 1px;
  padding: 10px;
}

.radio-container input[type="radio"] {
  visibility: hidden;
}

.radio-container input[type="radio"]:checked + label,
.Checked + label {
  background-color: whitesmoke;
}

.radio-container label {
  background-color: darkgray;
}
