.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .main-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 750px;
  background-color: #d4d4d4;
  border: #a9a9a9 solid 1px;
  padding: 10px;
} */

.radio-container input[type="radio"] {
  visibility: hidden;
}

.radio-container input[type="radio"]:checked + label,
.Checked + label {
  background-color: whitesmoke;
}

.radio-container label {
  background-color: darkgray;
}

/* .history {
  width: 45%;
}

.json-content {
  width: 50%;
  border: 2px solid #312e32;
  overflow: auto;
} */
